<div>
  <h1>Quotes </h1>
  <hr>
  <ul>
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let quote of Quotes; let i = index'>
          <h4 id={{i}} appStrikethrough> {{quote.name}} uploaded on  {{quote.completeDate|date}}</h4>
          <button (click)='toggleDetails(i)' class="btn btn-primary">show Author</button>
          <app-quote-details *ngIf='quote.showDescription' [quotes]='Quotes' (isComplete)='completeQuote($event,i)'>
          </app-quote-details>
        </div>
      </div>
    <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
   </div>
